#app {
  font-family: 'Righteous', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  background-color: #d0d0d0;
}

.router-view {
  padding: 20px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #F990E8;
  text-shadow: 1px 1px 1px #0BD2D3;
}
.link:hover {
  color: #FFFFFF;
  transform: translate(-1px, -1px);

  text-shadow:
    0 0 4px #F990E8,
    0 0 8px #F990E8,
    0 0 9px #F990E8,
    0 0 10px #F990E8,
    0 0 15px #F990E8;
}

.hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);;
}
.hover:hover {
  cursor: pointer;
  transform: translate(-2px, -2px);
}