#app {
  font-family: 'Righteous', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  background-color: #d0d0d0;
}

.router-view {
  padding: 20px;
}

.link {
  cursor: pointer;
  color: #F990E8;
}
.link:hover {
  color: #d0d0d0;
  transform: translate(-1px, -1px);
}

.hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);;
}
.hover:hover {
  cursor: pointer;
  transform: translate(-2px, -2px);
}