body {
  width: 100%;
  background-color: black;
}

.resume-div {
  width: 850px;
  position: absolute; /* positions out of the flow, but according to the nearest parent */
  top: 0; right: 0; /* confuse it i guess */
  bottom: 0; left: 0;
  margin: auto; /* make em equal */
}

.resume-embed {
  width: 850px;
  height: 1100px;
}
